/* Starting Of Global Varaibles */

:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --dark-color: #EEE;
}

/* Ending Of Global Varaibles */

/* Starting Of Global Rules */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f5f9;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

i {
  font-size: 16px;
}

input::placeholder {
  font-size: 14px;
}

input:focus,
textarea:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #FFF;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

/* Ending Of Global Rules */

.page {
  min-height: 100vh;
}

/* Starting Of SideBar Stylling */

aside {
  position: fixed;
  width: 250px;
  min-height: 100vh;
  box-shadow: 2px 0 10px rgb(0, 0, 0, 10%);
  z-index: 2;
}

aside .logo {
  margin-bottom: 50px;
  font-size: 28px;
}

@media (min-width: 768px) {
  aside .logo::before {
    content: "";
    width: 70%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 15%;
    bottom: -22px;

  }

  aside .logo::after {
    content: "";
    width: 12px;
    height: 12px;
    background: #000;
    border: 4px solid #FFF;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -31px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

aside ul li > a {
  margin-bottom: 5px;
}


aside ul li > a.active,
aside ul li > a:hover {
  background-color: #F6F6F6;
}

@media (max-width: 767px) {
  .page aside {
    width: 68px;
    padding: 10px;
  }

  aside .logo {
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px;
  }

  aside ul li > a {
    justify-content: center;
  }

  aside ul li > a > span {
    display: none;
  }

  main {
    padding-inline-start: 58px;
  }
}

/* Ending Of SideBar Stylling */

main {
  padding-inline-start: 250px;
}

/* Starting Of Header Stylling */

@media (max-width: 767px) {
  main {
    padding-inline-start: 68px;
  }
}

header .search {
  border: 1px solid var(--grey-color)
}

header .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: bold;
  color: var(--grey-color);
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

header .search input {
  width: 160px;
  border: none;
  margin-inline-start: 20px;
}

@media (min-width: 768px) {
  header .search input:focus {
    width: 220px;
  }
}

header .search input::placeholder {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

header .search input:focus::placeholder {
  opacity: 0;
}

@media (max-width: 767px) {

  header .search input {
    width: 120px;
  }
}

header .icons > i {
  font-size: 20px;
}

header .icons > i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  right: -5px;
  top: -5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .icons img {
  width: 32px;
  height: 32px;
  margin-inline-start: 10px;
}

/* Ending Of Header Stylling */

main > h2 {
  font-size: 32px;
  margin: 20px 20px 40px;
}

main > h2::before,
main > h2::after {
  content: "";
  width: 80%;
  height: 4px;
  background-color: #FFF;
  position: absolute;
  bottom: -15px;
  left: 0;
}

main > h2::after {
  width: 35%;
  background-color: #000;
}

/* Starting Of User-Welcome Stylling */

.user {
  background: #EEEEEE;
  overflow: hidden;
}

.user .user-info {
  padding-block: 50px;
}

.user .user-info img {
  width: 60px;
  height: 60px;
  border: 4px solid #FFF;
  top: -30px;
  left: 30px;
}

@media (max-width: 767px) {
  .user .user-info img {
    width: 60px;
    height: 60px;
    border: 4px solid #FFF;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

.user-info .user-data {
  border-block: 1px solid var(--dark-color);
}

.user .user-info > a {
  margin-inline-end: 20px;
  margin-block-start: 10px;
}

.user .user-info > a:hover {
  background-color: var(--blue-alt-color);
}

/* Ending Of User-Welcome Stylling */

/* Starting Of Draft Stylling */

.draft form > textarea {
  height: 200px;
}

.draft form > input[type="submit"] {
  cursor: pointer;
}

.draft form > input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}

/* Ending Of Draft Stylling */

/* Starting Of Target Stylling*/

.target .details .icon {
  width: 80px;
  height: 80px;
  margin-inline-end: 15px;
}

.target .details .info {
  flex: 1;
}

.target .details .target-row {
  width: 100%;
  height: 4px;
}

.target .details.blue .icon,
.target .details.blue .target-row {
  background-color: #cce3ff;
}

.target .details.orange .icon,
.target .details.orange .target-row {
  background-color: #fdecce;
}

.target .details.green .icon,
.target .details.green .target-row {
  background-color: #d3f3df;
}

.target .details .target-row::before {
  content: "";
  width: 80%;
  height: 4px;
  background-color: var(--blue-color);
  position: absolute;
  left: 0;
  top: 0;
}

.target .details.orange .target-row::before {
  width: 55%;
  background-color: var(--orange-color);
}

.target .details.green .target-row::before {
  width: 75%;
  background-color: var(--green-color);
}

.target .details .target-row .percent {
  padding: 3px 5px;
  bottom: calc(100% + 5px);
  left: 80%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.target .details.orange .target-row .percent {
  left: 55%;
  background-color: var(--orange-color);
}

.target .details.green .target-row .percent {
  left: 75%;
  background-color: var(--green-color);
}

.target .details .target-row .percent::after {
  content: "";
  border-style: solid;
  border-width: 5px;
  border-color: var(--blue-color) transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.target .details.orange .target-row .percent::after {
  border-color: var(--orange-color) transparent transparent transparent;
}

.target .details.green .target-row .percent::after {
  border-color: var(--green-color) transparent transparent transparent;
}

/* Ending Of Target Stylling*/

/* Starting Of Tickets Stylling */

.tickets .content .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}

@media (max-width: 767px) {
  .tickets .content .box {
    width: 100%;
  }
}

/* Ending Of Tickets Stylling */

/* Starting Of News Stylling */

.news .content > div:not(:last-child) {
  border-bottom: 2px solid var(--dark-color);
}

.news .content > div > img {
  width: 100px;
}

.news .content > div .info {
  flex: 1;
}

.news .content > div .info .days {
  float: inline-end;
}

/* Ending Of News Stylling */

/* Starting Of Tasks Stylling */

.tasks .content > div:not(:last-child) {
  border-bottom: 1px solid var(--dark-color);
}

.tasks .content .deleted {
  opacity: 0.6;
}

.tasks .content .deleted .info {
  text-decoration: line-through;
}

/* Ending Of Tasks Stylling */

/* Starting Of Upload Stylling */

.upload > div img {
  width: 40px;
  height: 40px;
}

/* Ending Of Upload Stylling */

/* Starting Of Progress Stylling */

.progress > img {
  width: 150px;
  height: 150pxpx;
  opacity: 0.2;
  right: 0;
  bottom: 0;
}

.progress > div > .circle {
  min-width: 25px;
  min-height: 25px;
  border: 2px solid #FFF;
  outline: 2px solid var(--blue-color);
}

.progress > div > .circle.blink {
  animation: blink-blue 2s linear infinite;
  -webkit-animation: blink-blue 2s linear infinite;
}

.progress > div:not(:last-child) > .circle::after {
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--blue-color);
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* Ending Of Progress Stylling */

/* Starting Of Reminder Stylling */

.reminder > ul > li::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--blue-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.reminder > ul > li {
  margin-inline-start: 30px;
  border-inline-start: 2px solid var(--blue-color);
}

.reminder > ul > li.green {
  border-inline-start: 2px solid var(--green-color);
}

.reminder > ul > li.orange {
  border-inline-start: 2px solid var(--orange-color);
}

.reminder > ul > li.red {
  border-inline-start: 2px solid var(--red-color);
}

.reminder > ul > li.green::before {
  background-color: var(--green-color);
}

.reminder > ul > li.orange::before {
  background-color: var(--orange-color);
}

.reminder > ul > li.red::before {
  background-color: var(--red-color);
}

/* Ending Of Reminder Stylling */

/* Starting Of Post Stylling */

.post img {
  width: 50px;
  height: 50px;
}

.post > p {
  line-height: 1.5;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .post > p {
    text-align: center;
  }
}

/* Ending Of Post Stylling */

/* Starting Of Social Media Stylling */

.social-media > div {
  padding-inline-start: 50px;
}

.social-media > div.twitter {
  background-color: #d2ecfc;
}

.social-media > div.facebook {
  background-color: #D1E4FC;
}

.social-media > div.youtube {
  background-color: #ffcccc;
}

.social-media > div.linked {
  background-color: #CCE4F0;
}


.social-media > div .icon {
  width: 50px;
  height: 100%;
  background-color: #1da1f2;
  left: 0;
}

.social-media > div .icon > i {
  font-size: 30px;
}

.social-media > div.facebook .icon {
  background-color: #1877f2;
}

.social-media > div.youtube .icon {
  background-color: #ff0000;
}

.social-media > div.linked .icon {
  background-color: #0077b5;
}

.social-media > div.twitter .info {
  color: #1da1f2;
}

.social-media > div.facebook .info {
  color: #1877f2;
}

.social-media > div.youtube .info {
  color: #ff0000;
}

.social-media > div.linked .info {
  color: #0077b5;
}

.social-media > div.twitter a {
  background-color: #1da1f2;
}

.social-media > div.facebook a {
  background-color: #1877f2;
}

.social-media > div.youtube a {
  background-color: #ff0000;
}

.social-media > div.linked a {
  background-color: #0077B5;
}

/* Ending Of Social Media Stylling */

/* Starting Of Projects Table Stylling */

.projects .resp-table {
  overflow-x: auto;
}

.resp-table > table {
  min-width: 1000px;
  border-spacing: 0;
}

.resp-table > table thead th {
  text-align: start;
}

.resp-table > table tr td {
  border-left: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}

.resp-table > table tr td:last-child {
  border-right: 1px solid var(--dark-color);
}

.resp-table > table tr:hover {
  background-color: #faf7f7;
}

.resp-table > table tr td span {
  float: unset;
}

.resp-table > table img {
  width: 32px;
  height: 32px;
  padding: 2px;
  background-color: #FFF;
}

.resp-table > table img:not(:first-child) {
  margin-inline-start: -20px;
}


/* Ending Of Projects Table Stylling */

/* Starting Of Projects Page Stylling */
.projects-page {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-inline: 10px;
  }
}

/* Starting Of Porjects Box Stylling */

.projects-page > .box {
  padding-block-start: 30px;
}

.projects-page > .box .date {
  right: 10px;
  top: 10px;
}

.projects-page > .box > p {
  margin-block-end: 50px;
  line-height: 1.5;
}

.projects-page > .box .images > img {
  width: 37px;
  height: 37px;
  border: 2px solid #FFF;
}

.projects-page > .box .images > img:not(:first-child) {
  margin-inline-start: -20px;
}

.projects-page > .box > .tags {
  justify-content: flex-end;
  border-block: 1px solid var(--dark-color);
}

@media (max-width:767px) {
  .projects-page > .box > .tags {
    flex-direction: column;
    align-items: start;
  }

  .projects-page > .box .bar {
    flex-direction: column;
    align-items: center;
  }
}

.projects-page > .box > .bar .line {
  width: 260px;
  height: 8px;
  background-image: linear-gradient(to right, var(--red-color) 50%, var(--dark-color) 50%);
}

@media (max-width:767px) {

  .projects-page > .box .bar .line {
    width: 200px;
    margin-block-end: 10px;
  }

}

.projects-page > .box:nth-child(2) > .bar .line {
  background-image: linear-gradient(to right, var(--green-color) 80%, var(--dark-color) 80%);
}

.projects-page > .box:nth-child(3) > .bar .line {
  background-image: linear-gradient(to right, var(--blue-color) 100%, var(--dark-color));
}

.projects-page > .box:nth-child(4) > .bar .line {
  background-image: linear-gradient(to right, var(--green-color) 60%, var(--dark-color) 60%);
}

.projects-page > .box:nth-child(5) > .bar .line {
  background-image: linear-gradient(to right, var(--green-color) 70%, var(--dark-color) 70%);
}

.projects-page > .box:nth-child(6) > .bar .line {
  background-image: linear-gradient(to right, var(--red-color) 30%, var(--dark-color) 30%);
}

.projects-page > .box:nth-child(7) > .bar .line {
  background-image: linear-gradient(to right, var(--green-color) 60%, var(--dark-color) 60%);
}

.projects-page > .box:nth-child(8) > .bar .line {
  background-image: linear-gradient(to right, var(--green-color) 50%, var(--dark-color) 50%);
}

.projects-page > .box:nth-child(9) > .bar .line {
  background-image: linear-gradient(to right, var(--green-color) 90%, var(--dark-color) 90%);
}

/* Ending Of Porjects Box Stylling */

/* Ending Of Projects Page Stylling */

/* Starting Of Friends Page Stylling */

.friends-page {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-inline: 10px;
  }
}

.friends-page .friend .icons > i {
  width: 30px;
  height: 30px;
  font-size: 13px;
  cursor: pointer;
}

.friends-page .friend .icons > i:hover {
  background-color: var(--blue-color);
  color: #FFF;
}

.friends-page .friend .image > img {
  width: 100px;
  height: 100px;
}

.friends-page .friend .friend-stats .vip {
  font-size: 40px;
  opacity: 0.3;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.friends-page .friend .friend-stats ul li {
  padding-inline-start: 30px;
}

.friends-page .friend .friend-stats ul li::before {
  font-family: var(--fa-style-family-classic);
  content: "\f118";
  font-weight: 300;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.friends-page .friend .friend-stats ul li.code::before {
  content: "\f386";
  font-weight: bold;
}

.friends-page .friend .friend-stats ul li.phone::before {
  content: "\f1ea";
  font-weight: bold;
}

/* Ending Of friends Page Stylling */

/* Starting Of Files Page Stylling */

.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}

.files-stats {
  min-width: 260px;
}

@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
    margin-inline: 10px;
  }

  .files-stats {
    min-width: 220px;
  }
}

/* Starting Of Files Statis Stylling */

.files-stats > div:not(:last-child) {
  border: 1px solid var(--dark-color);
}

.files-stats > div:not(:last-child) > i {
  width: 40px;
  height: 40px;
  background-color: #cce3ff;
}

.files-stats > div:nth-of-type(2) > i {
  background-color: #d3f3df;
}

.files-stats > div:nth-of-type(3) > i {
  background-color: #fdd9d7;
}

.files-stats > div:nth-of-type(4) > i {
  background-color: #fdecce;
}

.files-stats > div:last-child {
  margin-inline: auto;
  cursor: pointer;
}

.files-stats > div:last-child:hover {
  background-color: var(--blue-alt-color);
}

.files-stats > div:last-child:hover > i {
  animation: up-down 0.8s infinite;
  -webkit-animation: up-down 0.8s infinite;
}

/* Ending Of Files Statis Stylling */

/* Starting Of File Stylling */

.files-page .content {
  flex: 1;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.files-page .content .file > i {
  top: 10px;
  left: 10px;
}

.files-page .content .file .icon img {
  width: 70px;
}

.files-page .content .file:hover .icon img {
  transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

/* Ending Of File Stylling */


/* Ending Of Files Page Stylling */

/* Starting Of Plans Page Stylling */

.plans-page {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-inline: 10px;
  }
}

/* Starting Of Plans Stylling */

.plans-page .plan .head {
  border: 3px solid #FFF;
  outline: 3px solid var(--green-color);
}

.plans-page .plan.basic .head {
  outline-color: var(--blue-color);
}

.plans-page .plan.premium .head {
  outline-color: var(--orange-color);
}


.plans-page .plan .head .price {
  font-weight: 350;
  font-size: 50px;
}

.plans-page .plan .head .price::before {
  content: "$";
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  transform: translate(-20px, -5px);
  -webkit-transform: translate(-20px, -5px);
  -moz-transform: translate(-20px, -5px);
  -ms-transform: translate(-20px, -5px);
  -o-transform: translate(-20px, -5px);
}

.plans-page .plan > ul li {
  padding-inline-start: 30px;
  font-size: 15px;
}

.plans-page .plan > ul li::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: bold;
  font-size: 18px;
  color: var(--green-color);
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.plans-page .plan > ul li.not::before {
  content: "\f00d";
  color: var(--red-color);
}

.plans-page .plan > ul li > i {
  font-size: 9px;
  width: 15px;
  height: 15px;
  padding: 5px;
  cursor: pointer;
}

.plans-page .plan > span {
  cursor: pointer;
}

/* Ending Of Plans Stylling */

/* Ending Of Plans Page Stylling */

@keyframes blink-blue {
  30% {
    background-color: #FFF;
  }

  70% {
    background-color: var(--blue-color);
  }
}

@keyframes up-down {
  50% {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
  }

  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}